@import url(https://fonts.googleapis.com/css?family=Poiret+One|Playball|Crushed);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800);

* {
  box-sizing: border-box;
}

/******************
INDEX-HEADER *******************/

div#index-header {
    background: #69BE28;
    margin-left: -10px;
    margin-right: -10px;
}
#index-header h1, #index-header h2 {
    color: white;
    text-align: center;
    margin-;

}
#index-header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4.5rem;
    margin-top: -8px;
    margin-bottom: 0;
}
#index-header h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    padding-bottom: 20px;
}


/******************
HEADER *******************/

div#supporting-header {
    background: #69BE28;
    margin-left: -10px;
    margin-right: -10px;
}
#supporting-header h1, #supporting-header h2 {
    color: white;
    text-align: center;
    margin: 0;

}
#supporting-header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4.5rem;
    margin-top: -8px;
    margin-bottom: 0;
}
#supporting-header h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    padding-bottom: 20px;
}


/******************
NAVAGATION *******************/
#index-nav {
    display: -webkit-flex;
	list-style-type: none;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
    padding-left: 0;
}
#index-nav li {
    -webkit-flex-grow: 1;
	margin: 10px;
	border-radius: 10px;
	background: #002244;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .07em;
	color: #FFF;
    text-align: center;
}
#index-nav a {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
	text-decoration: none;
    transition: color 1s, background 1s;
}
#index-nav a:hover, #nav a:focus {
    background: #FFFFFF;
    color: #002244;
    border-radius: 10px; 
}


/******************
NAVAGATION *******************/
#nav {
    display: -webkit-flex;
	list-style-type: none;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
    padding-left: 0;
}
#nav li {
    -webkit-flex-grow: 1;
	margin: 10px;
	border-radius: 10px;
	background: #002244;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .07em;
	color: #FFF;
    text-align: center;
}
#nav a {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
	text-decoration: none;
    transition: color 1s, background 1s, 
}
#nav a:hover, #nav a:focus {
    background: #69BE28;
    color: #002244;
    border-radius: 10px; 
}



/******************
BODY *******************/
html .index {
 background: #69BE28;   
}



/******************
ABOUT ME *******************/
#about-me {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    text-align: justify;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.big-letters {
    font-size: 2em;
    font-weight: 400;
}


/******************
RESUME *******************/
#resume {
    width: 100%;   
}
#resume img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}



/******************
CONTACT *******************/
.bold {
    font-weight: 800;
}
#content {
    color: #002244;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.34em;
    width: 60%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 4%;
}

/******************
FOOTER *******************/
p#index-copyright {
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
p#copyright {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #002244;
}
img#social-media {
 width: 65px;
}
ul#social {
 list-style: none;  
    display: flex;
}
footer {
 width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}




/************************************
TABLET ***/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
}

/************************************
PHONE ***/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
      
  }